<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.li.feeling.mine">

    <application>
        <activity
            android:name=".MineFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
    </application>

</manifest>