<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.li.framework.tabfragment"
    tools:ignore="NamespaceTypo">

    <application>
        <activity
            android:name="com.li.tabfragment.TabFragment"
            android:exported="true" />
    </application>

</manifest>