<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.li.feeling.home">

    <application>
        <activity
            android:name=".HomeTabFragment"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true" />
    </application>

</manifest>