<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.li.feeling">

  <application>
    <activity
      android:name="com.li.feeling.login.LoginActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    <activity
      android:name="com.li.feeling.register.RegisterActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
  </application>

</manifest>